<li>
  <%= answer.body %>
  <%= link_to "Show", answer_path(answer) %>
  <%= link_to "Edit", edit_answer_path(answer) %>
  <%= button_to "Delete", answer_path(answer), method: :delete, class: "ui button red" %>
</li>
