<div class="footer">
  <div class="ui grid">
    <div class="two wide column"></div>
    <div class="three wide column">
      <h4 class="ui header white">Учебный проект от школы <%= link_to('thinknetica.com', "https://thinknetica.com") %></h4>
    </div>
    <div class="six wide column">
      <h4 class="ui header white">Ученик: <%= link_to('Дмитрий Долгашов', "https://github.com/rootcfg") %> <%= date_footer %></h4>
    </div>
  </div>
</div>