<div class="ui secondary pointing menu">

  <% if session[:user_id] %>
    <%= link_to "Welcome #{ current_user && current_user.username.present? ? current_user.username : "friend!" }, to Test Guru",  root_path, class: "active item"  %>
  <% end %>

  <div class="right menu">
    <% if session[:user_id] %>
      <%= link_to "Logout", log_out_path, class: "item"  %>
    <% else %>
      <%= link_to "Login", login_path, class: "item" %> <span style="margin-top: 10px;">|</span> <%= link_to "Signup", signup_path, class: "item" %>
  <% end %>
  </div>
</div>